.competitor
  .c-logo
    = image_tag competitor[:logo]
  .c-name
    = competitor[:name]
  .c-description
    = truncate(strip_tags(competitor[:description].html_safe), :length => 150, :separator => ' ', :omission => '...')
  .c-dash
  .c-footer
    .c-close.c-btn
    %a{:href => competitor[:external_link], :target => '_blank'}
      .c-external-url.c-btn
    .c-move.c-btn.right
