!!!
%html
  %head
    %link{:href => 'http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Crimson+Text:600italic,400italic', :rel => 'stylesheet', :type => 'text/css' }
  %title
    RECON
  = stylesheet_link_tag 'application', :media => 'all'
  = csrf_meta_tags
  %body
    = yield
    = javascript_include_tag :application
